.menu-logo{
    width: 100%;
}

.nav-menu{
    display: flex;
    margin: 0;
    a{
        color: $warm-violet;
        padding-left: 20px;
        padding-right: 20px;
        
    }
    li{
        @media (max-width: 1042px){
                        display: none;
                    }
    }
}




.mainNav{
    display: flex;
    max-width: 85vw;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    &::after{
        display: block;
        position: absolute;
        content: "";
        width: 1500px;
        border-top: 0.5px solid #c6bdd8;
        margin: 0 auto -200px auto;
        @media (max-width: 995px){
            width: 90vw;
        }
    }
    &::before{
            display: block;
            position: absolute;
            content: "";
            width: 1500px;
            border-top: 0.5px solid #c6bdd8;
            margin: 0 auto 200px auto;
            @media (max-width: 995px){
                width: 90vw;
            }
    }
    a{
        text-decoration: none;
        
        
    }
.logo-menu{
    width: 150px;
}
}

// .nav-menu{
//     display: flex;
//     // max-width: 100vw;
//     margin-right: 20px;
//     width: 100vw;
//     .nav-item{
//         color: white;
//         list-style-type: none;
//         text-transform: uppercase;
//         font-size: 20px;
//         padding-right: 40px;
//         padding-bottom: 20px;
//         padding-top: 20px;
//         text-decoration: none;
      
//         @media (max-width: 1042px){
//             display: none;
//         }
//     }
//     a{
//         color: $warm-violet;
//         &:hover{
//             border-bottom: 1px solid white;
//         }
//     }
// }
.fa-caret-down{
    font-size: 15px;
    color: $warm-violet;
}
    
// }
// }

// .arrow-list{
//     display: flex;
// }

// .menu-img{
//     width:20%;
//     margin-left: 30px;

//     @media(max-width: 727px){
//         width: 30%;
//     }
// }

@mixin menuIcon{
    display: none;
    @media (max-width: 1042px){
        display: block;
        position: absolute;
        right: 20px;
        font-size: 40px;
        top: 90px;
        color: $warm-violet;
    }
}
.fa-bars{
    @include menuIcon()
}
.fa-times{
    @include menuIcon()
}

.nav-menu-active{
    background-color: lightgray;
    border-radius: 5px;
    position: absolute;
    top: 80px;
    right: 10vw;
    width: 40vw;
    z-index: 1;
    
    li{
        color: $warm-violet;
        padding-bottom: 5px;
        padding-left: 10px;
    }
    a{
        color: $warm-violet;
        z-index: 3;
        
    }
}

// // .offerMenu{
// //     padding: 20px;
// // }





// // .mobile-menu {
// //     background-size: contain;
// //     background-repeat: no-repeat;
// //     width: 32px;
// //     height: 32px;
// //     display: block;
// //     color: transparent;
// //   }

// //   .mobile-menu nav {
// //     border-radius: 4px;
// //     position: absolute;
// //     width: 100%;
// //     height: 100%;
// //     top: 0;
// //     left: 0;
// //     display: flex;
// //     justify-content: center;
// //     align-items: center;
// //     flex-direction: column;
// //   }

