$main-color: #461d7c;
$light-violet: #9374d1;
$warm-violet: #53004b;
$yellow-color: #f9df14;
$skin-color: #fcecae;
$orange-color: #e9b200;
$main-font: 'Montserrat';
$second-font: 'Shadows Into Light Two';


@mixin siteTitle{
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 50px;
    position: relative;
    padding: 10px;
    color: $warm-violet;
    font-weight: normal;
    margin-bottom: 60px;
    &::after{
        border-bottom: 4px solid $skin-color;
        display: block;
        content: "";
        width: 300px;
        height: 0;
        position: absolute;
        bottom: 0;
        
       
    }
}